[submodule "_posts/ccamacho"]
	path = _posts/ccamacho
	url = git@gitlab.com:formulad/site-content-ccamacho.git
[submodule "_posts/ajaume"]
	path = _posts/ajaume
	url = git@gitlab.com:formulad/site-content-ajaume.git
