[submodule "_posts/hsalomon"]
	path = _posts/hsalomon
	url = git@gitlab.com:formulad/site-content-hsalomon.git
[submodule "_posts/dbolivar"]
	path = _posts/dbolivar
	url = git@gitlab.com:formulad/site-content-dbolivar.git
[submodule "_posts/ccamacho"]
	path = _posts/ccamacho
	url = git@gitlab.com:formulad/site-content-ccamacho.git
