[submodule "_posts/hsalomon"]
	path = _posts/hsalomon
	url = git@gitlab.com:formulad/site-content-hsalomon.git
[submodule "_posts/dbolivar"]
	path = _posts/dbolivar
	url = git@gitlab.com:formulad/site-content-dbolivar.git
[submodule "_posts/ccamacho"]
	path = _posts/ccamacho
	url = git@gitlab.com:formulad/site-content-ccamacho.git
[submodule "_posts/ajaume"]
	path = _posts/ajaume
	url = git@gitlab.com:formulad/site-content-ajaume.git
[submodule "_posts/vboggio"]
	path = _posts/vboggio
	url = git@gitlab.com:formulad/site-content-vboggio.git
[submodule "_posts/cmoya"]
	path = _posts/cmoya
	url = git@gitlab.com:formulad/site-content-cmoya.git
